.articles-main-container {
  min-height: calc(100vh - 75px);
  background-color: var(--background-color-main);
}

.articles-main-inner {
  max-width: 800px;
  padding: 0 24px;
  margin: 0 auto;
}

.page-title {
  font-size: 30px;
  color: var(--body-text-color);
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 24px;
}

.article {
  background-color: var(--background-color-sub1);
  border-radius: 8px;
  padding: 8px 16px;
}

.date {
  font-size: 12px;
  letter-spacing: 0.8;
  color: var(--text-color-gray1);
}
